+ 1 simon@penguin:~/projects/omega/comic$ cat ../_layouts/comic.html 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>


<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/comic.css' | relative_url }}">




</head>
<body>
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }}</p>
  </footer>
</body>
</html>

+ 1 simon@penguin:~/projects/omega/comic$ 

<nav class="page_nav"> 
  {% for p in site.pages %}
    {% if p.nav and p.pagetype != 'landing' and p.url != page.url %}
      <p><a href="{{ p.url | relative_url }}">: {{ p.title }}</a></p>
    {% endif %}
  {% endfor %}
</nav>


