


/* ********************************************************
 * NAME: STELLA.CSS
 * 
 * CSS STATUS: GOOD TO GO NOV 2025
 *
 * 
*/

body {
	font-family: "Georgia";
	font-size: 19px;
	font-weight: normal;
	max-width:520px;
	margin:auto;
	line-height:1.3;
}


pre,code {
	font-family: "Courier New";
	max-width:550px;
	margin:auto;
	font-weight: normal;
	white-space: pre-wrap;
	word-wrap: break-word;
}



h1 { 
	font-size: 22px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 0px;
}

h2 {
	font-size: 19px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	max-width: 400px;
	margin:auto;
	margin-bottom:20px;
}

h3 {
	text-align: center;
	font-size: 19px;
}
	


blockquote {
	margin:auto;
	text-align:center;
	max-width: 600px;
	border-left: 3px solid #ccc;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 0px;
	padding-left: 15px;

	
}

