/* === stella.css === */

/* === Base Styles === */
body {
    font-family: "Georgia";
    font-size: 19px;
    font-weight: normal;
    max-width: 550px;
    margin: auto;
    line-height: 1.3;
    color:;
}

h1 {
    font-size: 19px;
    text-align: center;
    margin: 0 0 20px 0;
    color:;
}

h2 {
    font-size: 19px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    max-width: 550px;
    color:;
}

h3 {
    font-size: 19px;
    text-align: center;
    line-height: 1.3;
    color:;
}

blockquote {
    max-width: 550px;
    margin: 10px auto 30px auto;
    text-align: center;
    border-left: 3px solid #ccc;
    font-style: italic;
    padding-left: 15px;
    color:;
}

blockquote p {
    margin: 0.5em 0;
}

blockquote p:empty {
    display: none;
}

/* === Media Queries === */
@media (min-width: 568px) {
    main {
        max-width: 640px;
        padding: 0 1rem 20px 1rem;
        background-color:;
    }
}

