/* === Global styles === */

body {
	font-family: "Georgia";
	font-size: 19px;
	font-weight: normal;
	max-width:550px;
	margin:auto;
	line-height:1.3;
    color:;
}
h1 { 
	font-size: 19px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
    color:;
}

h2 {
	font-size: 19px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	max-width: 550;
    color:;
}

h3 {
	font-size: 19px;
	text-align: center;
    color: ;
	line-height:1.3;
}

blockquote {
	margin:auto;
	text-align:center;
	max-width: 550px;
	border-left: 3px solid #ccc;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 0px;
	padding-left: 15px;
    color:;

	
}



.logo {
  font-size: 1.1rem;
  font-weight: bold;
  color: #303030;
}

.footer {
  padding-top: 80px;
  text-align: center;
}

/* === Navigation styling === */
.site-nav {
  padding: 12px 0;
  margin: 0;
}

.site-nav a {
  text-decoration: none;
  color: #303030;
}

.page_nav a {
  text-decoration: none;
  color: #303030;
}

/* === Prose/List Styling === */
.proseList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.proseList li {
  margin-bottom: 1.5rem;
}

.proseList a {
  color: #303030;
  text-decoration: none;
}


blockquote p {
  margin: 0.5em 0;
}

blockquote p:empty {
  display: none;
}

/* === Main content (mobile-first) === */
main {
  width: 100%;
  margin: 0 auto;
  padding: 0 0rem;
  line-height: 1.6;
}

/* Wide layout (default) */
main.wide {
  max-width: 640px;
}

/* Prose layout */
main.prose {
  max-width: 460px;
}

/* === Media query adjustments === */
@media (min-width: 568px) {
  main {
    padding: 0 1rem 20px 1rem;
  }

  .site-nav {
    margin: 1rem 0 5rem 1rem;
  }
}

