<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title }} | {{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>

    {% unless page.hide_nav %}
<div class="nav">
  <nav class="site-nav">
      <a href="{{ '/' | relative_url }}"><span class="logo">+|+</span></a> :
    <a href="{{ '/about.html' | relative_url }}"><span class="menu">def</span></a> :
    <a href="{{ '/objects/' | relative_url }}"><span class="menu">obj</span></a> 
  </nav>
</div>
{% endunless %}

<main>
  {{ content }}
</main>

</body>
</html>

