<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">

<!-- Always include the site’s main CSS file -->
<link rel="stylesheet" href="/assets/css/main.css">

<!-- Conditionally include a page-specific CSS file -->
{% if page.css %}
  <!-- If the current page defines a 'css' variable in its front matter, include that CSS file -->
  <link rel="stylesheet" href="{{ page.css }}">
{% endif %}



</head>
<body>

<!-- Site Navigation -->
<div class="site-nav">


<A CLASS="LOGO"
   href="{% if page.url == '/' %}
            {{ '/lobby/' | relative_url }}
         {% else %}
            {{ '/' | relative_url }}
         {% endif %}">
  <span class="logo">+|+</span>
</a>





</div>

<!-- Main content  -->
<main> 
  {{ content }}
</main>

<!-- Footer -->
<footer class="footer">
  <span class="endnote"></span>
</FOOTER>

<!-- Analytics / Scripts -->
<script data-goatcounter="https://omega.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>

